<div class="row">
<div class="col-md-6">
    <mat-card>
        <mat-card-title>Nueva Orden</mat-card-title>
        <form>
            <mat-form-field>
                <input matInput placeholder="Nº Pedido"
                    [(ngModel)]="order.nro_pedido" name="nro_pedido">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Cliente"
                    [(ngModel)]="order.cliente" name="cliente">
            </mat-form-field>
            
            <mat-form-field>
                <input matInput placeholder="estado"
                    [(ngModel)]="order.estado" name="estado">
            </mat-form-field>
        </form>

    </mat-card>
</div>
<br>
<br>
<div class="col-md-6">
    <mat-card>
        <form class="form-content">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Producto"
                    [(ngModel)]="idProducto" name="idProducto">
            </mat-form-field>          
            <button mat-raised-button (click)="buscarProducto()" color="primary">
                Buscar
            </button>

            <mat-form-field appearance="outline">
                <input matInput placeholder="Precio"
                    [(ngModel)]="precioUnitario" name="precioUnitario" disabled>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input matInput placeholder="cantidad"
                    [(ngModel)]="cantidadProducto" name="cantidadProducto">
            </mat-form-field>
 
        </form>    
    </mat-card>
    <br>
    <br>
<mat-card>
    <button mat-raised-button (click)="createOrder()" color="primary">
        Crear
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>
</div>
</div>